<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MotCap.system.mapper.PlayersDataMapper">
    
    <resultMap type="PlayersData" id="PlayersDataResult">
        <result property="playerId"    column="player_id"    />
        <result property="playerName"    column="player_name"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="intro"    column="intro"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPlayersDataVo">
        select player_id, player_name, sex, avatar, status, del_flag, create_time, update_time, intro, remark from players_data
    </sql>

    <select id="selectPlayersDataList" parameterType="PlayersData" resultMap="PlayersDataResult">
        <include refid="selectPlayersDataVo"/>
        <where>  
            <if test="playerName != null  and playerName != ''"> and player_name like concat('%', #{playerName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="intro != null  and intro != ''"> and intro = #{intro}</if>
        </where>
    </select>
    
    <select id="selectPlayersDataById" parameterType="Long" resultMap="PlayersDataResult">
        <include refid="selectPlayersDataVo"/>
        where player_id = #{playerId}
    </select>
        
    <insert id="insertPlayersData" parameterType="PlayersData" useGeneratedKeys="true" keyProperty="playerId">
        insert into players_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">player_name,</if>
            <if test="sex != null">sex,</if>
            <if test="avatar != null">avatar,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="intro != null and intro != ''">intro,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">#{playerName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="intro != null and intro != ''">#{intro},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePlayersData" parameterType="PlayersData">
        update players_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">player_name = #{playerName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="intro != null and intro != ''">intro = #{intro},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where player_id = #{playerId}
    </update>

    <delete id="deletePlayersDataById" parameterType="Long">
        delete from players_data where player_id = #{playerId}
    </delete>

    <delete id="deletePlayersDataByIds" parameterType="String">
        delete from players_data where player_id in 
        <foreach item="playerId" collection="array" open="(" separator="," close=")">
            #{playerId}
        </foreach>
    </delete>
    
</mapper>